<div class="basis-full md:basis-[calc(50%_-_1rem)] lg:basis-[calc(33.333333%_-_1.3333333rem)] xl:basis-[calc(25%_-_1.5rem)] bg-stone-100 border-4 border-stone-900 relative shadow-comic">
    <a href="/projects/{{ project.id }}" class="group">
        <img class="aspect-[3/2] object-cover group-hover:object-contain w-full bg-stone-300"
             alt="{{ project.name }} thumbnail" src="{{ bucket_url }}/thumbnails/{{ project.thumbnail_id }}"/>
        <div class="aspect-[3/2] p-8 overflow-hidden relative">
            <div class="flex justify-between items-baseline">
                <h3 class="text-stone-900 text-xl font-bold">{{ project.name }}</h3>
                <span class="text-stone-500 text-sm">{{ project.date_posted|humandtime }}</span>
            </div>
            <br/>
            <div class="text-stone-900 text-balance">{{ project.preview|e("none") }}</div>
            <div class="absolute w-full h-16 bottom-0 left-0 bg-gradient-to-t from-stone-100 from-50%"></div>
        </div>
        <div class="absolute top-0 left-1/2 -translate-x-1/2 w-1/6 aspect-[2/1] rounded-b-full bg-stone-100 border-4 border-l-8 border-stone-900 border-t-stone-100 mt-[-4px]"></div>
        <div class="absolute bottom-0 right-0 w-0 group-hover:w-1/6 aspect-square bg-[linear-gradient(to_top_left,_#f5f5f4_50%,_#1c1917_50%,_#1c1917_calc(50%_+_8px),_#d6d3d1_calc(50%_+_8px))] border-t-4 border-t-stone-900 border-l-stone-900 border-l-4 mr-[-8px] mb-[-8px] transition-all"></div>
    </a>
</div>