<div class="text-red-500">
    {{ errors }}
</div>
<form hx-boost="true" method="post" action="{{ action }}" enctype="multipart/form-data" class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
        <label class="block font-bold text-lg text-stone-900" for="thumbnail">Thumbnail image URL</label>
        <input class="bg-transparent w-full px-4 py-16 border-4 border-stone-900 focus:border-blue-500 invalid:border-red-500 outline-none border-dashed text-center text-lg text-stone-900"
               id="thumbnail"
               name="thumbnail"
               type="file"
               accept=".png, .jpg, .jpeg, .gif, .webp, .svg"/>
    </div>

    <div class="flex flex-col gap-4">
        <label class="block font-bold text-lg text-stone-900" for="name">Project name</label>
        <input class="bg-transparent w-2/3 p-4 border-4 border-stone-900 focus:border-blue-500 invalid:border-red-500 shadow-comic outline-none text-stone-900"
               id="name"
               name="name"
               {% if let Some(project)=project %} value="{{ project.name }}" {% endif %}
        />
    </div>

    <div class="flex flex-col gap-4">
        <label class="block font-bold text-lg text-stone-900" for="content">Description</label>
        <textarea
                class="bg-transparent w-full h-64 p-4 border-4 border-stone-900 focus:border-blue-500 invalid:border-red-500 shadow-comic outline-none text-stone-900 resize-none"
                id="content" name="content">
            {%- if let Some(project)=project %}{{ project.content }}{%endif -%}
        </textarea>
    </div>

    <div class="flex flex-col gap-4">
        <label class="block font-bold text-lg text-stone-900" for="project-url">URL to the project page</label>
        <input class="bg-transparent w-full p-4 border-4 border-stone-900 focus:border-blue-500 invalid:border-red-500 shadow-comic outline-none text-stone-900"
               id="project-url" name="project-url" type="url"
               {% if let Some(project)=project %} {% if let Some(project_url)=project.project_url %}
               value="{{ project_url }}" {% endif %} {% endif %}/>
    </div>

    <button class="py-4 px-8 bg-blue-500 hover:bg-blue-300 border-stone-900 border-4 shadow-comic text-stone-100 font-bold text-xl"
            type="submit">Publish
    </button>
</form>