{% extends "base.html" %}

{% block title %}Projects - Tortoaster{% endblock %}

{% block nav %}
{% if let Some(user) = user -%}
{% if user.is_admin -%}
<a href="{{ get_project_post_form_url }}"
   class="block size-16 p-4 rounded-full text-stone-300 hover:bg-stone-300 hover:text-stone-100 transition-colors">
    {% include "icons/file-plus-round.svg" %}
</a>
{%- endif %}
{%- endif %}
{% endblock %}

{% block content %}
<div class="flex flex-col gap-8">
    <div class="bg-blue-500 border-stone-900 border-4 md:shadow-comic mx-[calc(-2rem_-_4px)] md:mx-[calc(-4rem_-_4px)]">
        <div class="prose prose-lg prose-stone !prose-invert text-stone-100 py-8 px-12 md:px-24">
            {{ about|markdown|e("none") }}
        </div>
    </div>
    <div id="project-list" hx-boost="true" class="flex flex-wrap gap-8">
        {% for project in page.items -%}
        {% include "component.html" %}
        {%- endfor %}
    </div>
    <div hx-boost="true" class="flex gap-8 justify-center text-lg">
        {% if page.has_previous -%}
        {% if let Some(project) = page.items.first() -%}
        <a class="block p-4"
           href="{{ get_projects_url }}?before={{ project.date_posted|urlencode }}%2C{{ project.id|urlencode }}#project-list">&lt;
            Previous</a>
        {%- endif %}
        {%- endif %}
        {% if page.has_next -%}
        {% if let Some(project) = page.items.last() -%}
        <a class="block p-4"
           href="{{ get_projects_url }}?after={{ project.date_posted|urlencode }}%2C{{ project.id|urlencode }}#project-list">Next
            &gt;</a>
        {%- endif %}
        {%- endif %}
    </div>
</div>
{% endblock %}
