{% extends "base.html" %}

{% block title %}Projects - Tortoaster{% endblock %}

{% block nav %}
{% match user %}
{% when Some with (user) %}
{% if user.is_admin %}
<a href="{{ new_project_url }}"
   class="block size-16 p-4 rounded-full text-stone-300 hover:bg-stone-300 hover:text-stone-100 transition-colors">
    {% include "icons/file-plus-round.svg" %}
</a>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}
<div class="flex flex-col gap-8">
    <div class="bg-blue-500 border-stone-900 border-4 md:shadow-comic mx-[calc(-2rem_-_4px)] md:mx-[calc(-4rem_-_4px)]">
        <div class="prose prose-lg prose-stone !prose-invert text-stone-100 py-8 px-12 md:px-24">
            {{ about|markdown }}
        </div>
    </div>
    <div class="flex flex-wrap gap-8">
        {% for project in projects %}
        {% include "component.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}
