{% extends "base.html" %}

{% block title %}{{ project.name }} - Tortoaster{% endblock %}

{% block nav %}
{% match user %}
{% when Some with (user) %}
{% if user.is_admin %}
<a href="/projects/{{ project.id }}/form"
   class="block size-16 p-4 pr-2 rounded-l-full text-stone-300 hover:bg-stone-300 hover:text-stone-100 transition-colors">
    {% include "icons/pencil.svg" %}
</a>
<a href="/projects/{{ project.id }}/form-delete"
   class="block size-16 p-4 pl-2 rounded-r-full text-stone-300 hover:bg-red-300 hover:text-stone-100 transition-colors">
    {% include "icons/trash-can.svg" %}
</a>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}
<div class="flex justify-between items-baseline prose prose-stone mx-auto">
    <h1>{{ project.name }}</h1>
    {% match project.project_url %}
    {% when Some with (project_url) %}
    <a class="block py-4 px-8 bg-blue-500 hover:bg-blue-300 border-stone-900 border-4 shadow-comic text-stone-100 font-bold text-xl no-underline"
       href="{{ project_url }}">Visit project site</a>
    {% when None %}
    {% endmatch %}
</div>
<img class="max-w-full mx-auto my-8 border-stone-900 border-4 shadow-comic" alt="Thumbnail"
     src="/thumbnails/{{ project.thumbnail_id }}">
<div class="prose prose-stone mx-auto">
    {{ content|markdown }}
    <h2>Comments</h2>
    {% for comment in comments %}
    {% include "../comments/comment.html" %}
    {% endfor %}
</div>
{% endblock %}
