{% extends "base.html" %}

{% block title %}{{ project.name }} - Tortoaster{% endblock %}

{% block content %}
<div class="flex justify-between items-baseline prose prose-stone mx-auto">
    <h1>{{ project.name }}</h1>
    {% match project.project_url %}
    {% when Some with (project_url) %}
    <a class="block py-4 px-8 bg-blue-500 hover:bg-blue-300 border-stone-900 border-4 shadow-comic text-stone-100 font-bold text-xl no-underline"
       href="{{ project_url }}">Visit project site</a>
    {% when None %}
    {% endmatch %}
</div>
<img class="max-w-full mx-auto my-8 border-stone-900 border-4 shadow-comic" alt="thumbnail"
     src="{{ project.thumbnail_url }}">
<div class="prose prose-stone mx-auto">
    {{ project.description|markdown }}
</div>
{% endblock %}