{% extends "base.html" %}

{% block title %}{{ project.name }} - Tortoaster{% endblock %}

{% block head %}
<script src="/static/modal.js"></script>
{% endblock %}

{% block nav %}
{% match user %}
{% when Some with (user) %}
{% if user.is_admin %}
<a href="{{ get_project_put_form_url }}"
   class="block size-16 p-4 pr-2 rounded-l-full text-stone-300 hover:bg-stone-300 hover:text-stone-100 transition-colors">
    {% include "icons/pencil.svg" %}
</a>
<a href="{{ get_project_delete_form_url }}"
   class="block size-16 p-4 pl-2 rounded-r-full text-stone-300 hover:bg-red-300 hover:text-stone-100 transition-colors">
    {% include "icons/trash-can.svg" %}
</a>
{% endif %}
{% when None %}
{% endmatch %}
{% endblock %}

{% block content %}
<div class="prose prose-stone mx-auto">
    <div class="flex justify-between items-baseline">
        <h1>{{ project.name }}</h1>
        {% if let Some(url) = project.project_url %}
        <a class="block py-4 px-8 bg-blue-500 hover:bg-blue-300 border-stone-900 border-4 shadow-comic text-stone-100 font-bold text-xl no-underline"
           href="{{ url }}">Visit project site</a>
        {% endif %}
    </div>
    <span class="text-sm text-stone-500">{{ project.date_posted|humantime }}</span>
</div>
<img class="max-w-full mx-auto my-8 border-stone-900 border-4 shadow-comic" alt="Thumbnail"
     src="{{ thumbnail_bucket_url }}/{{ project.thumbnail_id }}">
<div class="prose prose-stone mx-auto">
    {{ content|markdown|e("none") }}
    <h2>Comments</h2>
    {% include "../comments/form/create_form_partial.html" %}
    {% for comment in comments %}
    {% include "../comments/component.html" %}
    {% endfor %}
</div>
{% endblock %}
