@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Comic Relief';
    src: url('/static/ComicRelief.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Relief';
    src: url('/static/ComicRelief-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: block;
}

.htmx-request.htmx-indicator {
    display: block;
}

input[type="file"]::file-selector-button {
    display: none;
}