<form hx-post="{{ post_put_comment_url }}" hx-swap="outerHTML" hx-disabled-elt=".comment-form"
      class="flex flex-col gap-4">
    <label class="block font-bold text-lg text-stone-900" for="comment-message">Add Comment</label>
    <textarea
            class="comment-form bg-transparent w-full h-32 p-4 border-4 border-stone-900 focus:border-blue-500 invalid:border-red-500 shadow-comic outline-none text-stone-900 resize-none"
            id="comment-message" maxlength="4096" name="message">
        {{- comment.message -}}
    </textarea>
    <div class="flex justify-end gap-4">
        <div class="htmx-indicator animate-spin size-8 text-stone-300 self-center">
            {% include "icons/bread-slice.svg" %}
        </div>
        <button class="comment-form self-end py-4 px-8 bg-blue-500 hover:bg-blue-300 disabled:bg-stone-300 hover:disabled:bg-stone-300 border-stone-900 border-4 shadow-comic text-stone-100 font-bold text-xl"
                type="submit">
            Update
        </button>
    </div>
</form>