{% extends "base.html" %}

{% block content %}
<form
        class="flex flex-col gap-4 prose prose-stone mx-auto"
        hx-boost="true"
        method="post"
        action="{{ post_delete_project_url }}"
>
    <p class="text-center">
        Are you sure you want to delete {{ project.name }}? <span class="text-red-500">This cannot be undone!</span>
    </p>
    <button class="self-center py-4 px-8 bg-red-500 hover:bg-red-300 disabled:bg-stone-300 hover:disabled:bg-stone-300 border-stone-900 border-4 shadow-comic text-stone-100 font-bold text-xl"
            type="submit">
        Delete
    </button>
</form>
{% endblock %}
