<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Tortoaster{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet"/>
    <script src="/static/htmx.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-blue-300 min-h-screen font-comic">
<div class="flex flex-col container mx-auto">
    {% block header %}
    {% include "header/turtle.html" %}
    {% endblock %}
    <div class="flex flex-col gap-8 p-4 pb-16 bg-stone-100 border-4 border-stone-900 shadow-comic relative">
        <nav class="flex justify-end px-12 pt-8">
            <span class="text-4xl">
                By:
                <a href="/" class="font-bold underline underline-offset-4 decoration-stone-900 italic text-blue-500">Tortoaster</a>
            </span>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        <div class="absolute bottom-0 right-0 h-16 mt-16 aspect-square bg-[linear-gradient(to_top_left,_#93c5fd_50%,_#1c1917_50%,_#1c1917_calc(50%_+_8px),_#d6d3d1_calc(50%_+_8px))] border-t-4 border-t-stone-900 border-l-stone-900 border-l-4 mr-[-8px] mb-[-8px] transition-all"></div>
    </div>
    <footer class="self-center w-2/3 relative">
        <img alt="Tortoaster logo" src="/static/turtle-feet.svg" class="w-full object-cover">
        <div class="absolute right-0 top-0 text-stone-900 text-sm p-8">
            <a href="https://github.com/Tortoaster">GitHub</a> | <a href="mailto:contact@tortoaster.com">Email</a><br>
            &copy; 2024 Rick van der Wal
        </div>
    </footer>
</div>
</body>
</html>
